@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Shadows+Into+Light&family=Waiting+for+the+Sunrise&display=swap');
*{
  /* outline:1px dashed rgb(231, 222, 222) */
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: none;
    height: 120px;
}

nav li a {
    text-shadow: 1px 1px #ac4d95;
    color:white;
    display: flex;
    text-decoration: none;
    padding: 1.2em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 2em;     
}

nav ul li a:hover {
    color: rgb(28, 25, 25);
   background-color:rgba(red, rgb(188, 52, 163), blue, 0.4);
    transition: 0.5s;
}
body{
    background-color:none;
    color: blanchedalmond;
    background: url(../images/MainBackground.png);
    background-position: center;
}

input, select, textarea {
    width: 50%; 
    padding: 15px;  
    border: 2px solid rgb(66, 54, 54); 
    border-radius: 25px; 
    margin-top: 3px;
    margin-bottom: 10px; 
  } 

  form{   
   margin-left:  20em;    
  }

  legend{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:rgb(175, 175, 11);
  }

  footer {
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 1%;
    color: aliceblue;
    margin-top: 3em;
    font-family: 'Amatic SC', cursive;
}
img{
  width: 30%;
  float: left;
  margin-right: 20em;
  margin-left: 5em;
  margin-bottom: 10%;
}
 